.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
  &__mobile-menu-btn {
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      fill: var(--accent-hover-color);
    }
  }
  &__mobile-menu-icon {
    width: 40px;
    height: 40px;
  }
  & .header-container {
    display: flex;
    justify-content: space-between;
  }
}

.menu,
.contact {
  display: none;
}

.header__logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color-font);
}

.contact__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contact__mail-link,
.contact__tell-link {
  display: flex;
  align-items: center;
}

.contact__tell-link,
.contact__mail-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--description-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-hover-color);
  }
}

.contact__mail-icon {
  fill: #757575;
  width: 14px;
  height: 10px;
  display: inline-block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__tell-icon {
  width: 10px;
  height: 14px;
  fill: #757575;
  display: inline-block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__abzac {
  display: inline-block;
}

.contact__mail-link:hover .contact__mail-icon,
.contact__mail-link:focus .contact__mail-icon,
.contact__tell-link:hover .contact__tell-icon,
.contact__tell-link:focus .contact__tell-icon {
  fill: #2196f3;
}

.contact__mail-icon,
.contact__tell-icon {
  margin-right: 10px;
  .contact__mail-link:hover &,
  .contact__mail-link:focus &,
  .contact__tell-link:hover &,
  .contact__tell-link:focus & {
    fill: #2196f3;
  }
}

.menu__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.menu__link {
  &:hover,
  &:focus {
    color: var(--accent-hover-color);
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.menu__link {
  color: var(--main-color-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-hover-color);
  }
}

.address-style {
  color: var(--white-font);
}

.active {
  &::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background: #2196f3;
    position: absolute;
    bottom: -38px;
    border-radius: 2px;
  }
}

.logo-style {
  color: var(--accent-hover-color);
}

.mobile-contacts {
  margin-top: 300px;
}

.mobile-contact__tell-link .contact__abzac {
  font-size: 34px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 2%;
  color: var(--accent-hover-color);
}

.mobile-contact__mail-link .contact__abzac {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2%;
  line-height: 1.17;
  color: #757575;
}

.mobile-contact__item {
  &:first-child {
    margin-bottom: 32px;
  }
}

.mobile-contact__tell-link {
  font-style: 34px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 2%;
  color: var(--accent-hover-color);
}

.mobile-contact__mail-link {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2%;
  line-height: 1.17;
  color: #757575;
}

.mobile-contacts-social {
  margin-top: 64px;
  display: flex;
}

.mobile-contact-social__item {
  margin-right: 20px;
  font-size: 18px;
  line-height: 1.22;
}

.mobile-contact-social__item-link {
  color: var(--accent-hover-color);
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }

  .header__logo-link {
    margin-right: 88px;
  }

  .menu__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .contact {
    margin-left: auto;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }

  .contact__item {
    &:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }

  .contact__tell-link,
  .contact__mail-link {
    font-size: 12px;
    line-height: 1.17;
  }

  .header__mobile-menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .mobile-menu {
    display: flex;
  }

  .contact {
    display: flex;
    &__item:first-child {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  .header__logo-link {
    font-size: 26px;
    line-height: 1.17;
    margin-right: 93px;
  }

  .contact__mail-icon {
    width: 16px;
    height: 12px;
  }

  .contact__tell-icon {
    width: 10px;
    height: 16px;
  }

  .contact__tell-link,
  .contact__mail-link {
    font-size: 14px;
    line-height: 1.33;
  }
}
