// .priorities-list {
//   display: flex;
//   margin-top: -30px;
//   margin-left: -30px;
// }

// .priorities-list__item     (1200)      {
//   margin-top: 30px;
//   margin-left: 30px;
//   flex-basis: calc((100% - 120px) / 4);
// }

.priorities-list__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.priorities-list__block {
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .priorities-list__block {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  .priorities-list__tittle {
    text-align-last: center;
  }
}

@media screen and (min-width: 768px) {
  .priorities-list__block {
    width: 354px;
  }

  .priorities-list__tittle {
    text-align-last: left;
  }

  .priorities-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  .priorities-list__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .priorities-list__block {
    width: 270px;
  }

  .priorities-list__tittle {
    text-align-last: left;
  }

  .priorities-list {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
  }

  .priorities-list__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 120px) / 4);
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-top: 30px;
    }
  }
}

.priorities-list__block-icon {
  width: 70px;
  height: 70px;
  display: block;
}

.priorities-list__tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
}

.priorities-list__tittle-description {
  margin-top: 10px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
