.team {
  background-color: #f5f4fa;
}

// .team-title {
//   margin-bottom: 50px;
//   text-align: center;
//   font-size: 36px;
// }

.team-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 32px;
}

// .team-list {
//   display: flex;
//   margin-top: -30px;
//   margin-left: -30px;
// }

.team-list__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-list-item-img {
  width: 450px;
  height: 460px;
}

.team-list-convert {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-convert__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list-convert__description {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 10px;
  color: var(--description-color);
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  .team-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }

  .team-list-item-img {
    width: 354px;
    height: 374px;
  }

  .team-list__item {
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0 94px 0;
  }

  .team-title {
    margin-bottom: 50px;
    font-size: 36px;
  }

  .team-list {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
  }

  .team-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 4);
  }

  .team-list-item-img {
    width: 260px;
    height: 270px;
  }

  .team-list-convert {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  .team-list__item {
    margin-bottom: 0;
    &:nth-of-type(1),
    &:nth-of-type(2) {
      margin-bottom: 0;
    }
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-top: 30px;
    }
  }
}
